<ul><TMPL_LOOP NAME=PEOPLE><li><TMPL_INCLUDE NAME="person.tmpl"><TMPL_IF NAME=NICE><strong>Nice person</strong></TMPL_IF><TMPL_LOOP NAME=CHILDREN><TMPL_VAR NAME=NAME> </TMPL_LOOP></li></TMPL_LOOP></ul>
